* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main { background: violet; padding: 1rem;}

section {
    display: flex;
    background: purple;   
}

article {
    background: orange;
    height: 100px;
    /* width: 100px; */
    flex-grow: 1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section, article {
    margin: 1rem;
    border-radius: 1rem;
    border: solid 3px black;
}

.sencillo {flex-grow: 1;}
.doble {flex-grow: 2;}
.triple {flex-grow: 3;}