* {box-sizing: border-box; margin: 0; padding: 0;}
body {
    border: dotted 3px red;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
}
header { background: #F48695; width: 100%;
     margin-bottom: 1rem;}
aside { background: #FFB98C; width: 25%;}
main { background: #c56caa96; 
    width: 70%; padding: 2rem;}
footer { background: #90DB78; height: 80px; 
    padding: 1rem; width: 100%;
     margin-top: 1rem;}

